
#comicdetails,
#bookdetails {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    #details {
        position: fixed;
        clear: both;
        overflow: hidden;
        width: 750px;
        margin-left: -375px;
        margin-top: 70px;
        left: 50vw;
        top: 0;
        padding: 0;
        z-index: 1080;

        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        background-color: #282828;
        border-radius: 3px;
        background-clip: padding-box;
        outline: none;
    }

    #details_cover {
        float: left;
        padding-right: 25px;
        img {
            width: 300px;
            @media only screen and (max-width:768px){
                display: none;
            }
        }
    }

    #details_title {
        color: #eee;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        padding: 19px 20px;
        margin: 0 0 20px;
        background: #323232;
    }
    #details_description,
    #details_size,
    #details_language_pubdate {
        color: #999;
        padding: 5px 20px;
    }
    #details_description {
        padding-bottom: 15px;
    }

    #details_download {
        &:before {
            content: "Download";
        }
    }
    #details_read {
        &:before {
            content: "Read Now";
        }
    }
    #details_download,
    #details_read {
        display: inline-block;
        font-family: Open Sans Bold;
        color: #fff;
        font-size: 14px;
        line-height: 1.33;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 8px 14px;
        margin: 10px 0;
        border: 0;
        background-color: #cc7b19;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            background-color: darken(#cc7b19, 10%);
        }
    }
    #details_download {
        margin-right: 20px;
        background: rgba(255, 255, 255, 0.25);
        &:hover,
        &:active,
        &:focus {
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
}

#details_close {
    float: right;
    color: #eee;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 64px;
    height: 64px;
    padding-top: 14px;
    opacity: 0.2;
    &:hover {
        opacity: 0.8;
    }
    &:before {
        content: "x";
    }
}

#dimoverlay {
    visibility: hidden;
    opacity: .5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1070;
    background-color: #000;
}
